body {
    user-select: none;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

main {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: 15px;
    background: #fff;
}

.faculty-list {
    display: flex;
    width: 100%;
}

.faculty {
    position: relative;
    width: calc(100% / 3);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background: #fff;
    border: 0.5px solid rgba(0, 0, 0, .03);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s background ease-in-out;
    overflow: hidden;
}

.faculty::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: #fa453c;
    transition: 0.15s bottom ease;
}

.faculty:hover::after {
    bottom: 0;
}

.user-greeting {
    position: absolute;
    z-index: 1000;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: ProximaNova, sans-serif;
    text-align: center;
    font-size: 14px;
    height: calc(100% - 50px);
}

.user-greeting p {
    margin: 10px 0;
    max-width: 800px;
}

.user-greeting ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.user-greeting ul li {
    margin: 10px;
}

.logo {
    margin-bottom: 50px;
    width: 100px;
    margin: 20px;
    position: absolute;
}

.emph {
    color: #fa453c;
}

.faculty-header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background: #fff;
    border: 0.5px solid rgba(0, 0, 0, .03);
    text-transform: uppercase;
}

.default-btn {
    border: none;
    outline: none;
    height: 30px;
    width: 130px;
    font-family: ProximaNova;
    margin-top: 30px;
    background: #fa453c;
    color: #fff;
    border-radius: 2.5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.default-btn:hover {
    background: #fff;
    color: #000;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.redirectable-link {
    transition: 0.2s ease-in-out;
}

.redirectable-link:hover {
    border: none;
    outline: none;
    height: 30px;
    width: 130px;
    font-family: ProximaNova;
    margin-top: 30px;
    background: #fa453c;
    color: #fff;
    border-radius: 2.5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 7.5px 15px;
}

.redirectable-link:hover .emph {
    color: #fff;
}

.home-btn {
    position: absolute;
    z-index: 100;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: #cb2d3e;
    /* background: rgba(255, 59, 48, 1); */
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.home-btn:nth-child(2) {
    left: 35px;
    background: #DD3A3C;
    /* background: rgba(255, 204, 0, 1); */
}

.home-btn:nth-child(3) {
    left: 55px;
    background: #ef473a;
    /* background: rgba(40, 205, 65, 1); */
}

.controls {
    position: relative;
    z-index: -100;
    height: 30px;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 1000px;
}

.central {
    position: absolute;
    z-index: 500;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
}

.modal-central {
    opacity: 0;
    position: static;
    transform: none;
}

.modal {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.modal-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: 1s all ease-in-out;
    opacity: 1;
}

.modal-bg-hidden {
    opacity: 0;
    pointer-events: none;
}

.user-register {
    display: block;
    text-align: left;
    height: 350px;
    position: relative;
    padding-top: 15px;
}

.register-input {
    display: block;
    outline: none;
    border: none;
    height: 50px;
    width: calc(100% - 30px);
    padding-left: 20px;
    margin: 15px;
    margin-top: 0;
    font-family: ProximaNova, sans-serif;
    background: rgba(0, 0, 0, .05);
    border-radius: 5px;
}

.register-input:focus {
    background: rgba(0, 0, 0, .1);
}

.submit-btn {
    border: none;
    outline: none;
    background: #fa453c;
    color: #fff;
    font-family: ProximaNova, sans-serif;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.submit-btn:hover {
    background: #fff;
    color: #000;
}

.small-sign {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-top: 15px;
    color: rgba(0, 0, 0, .3);
    font-size: 12px;
}

.small-sign a {
    color: #fa453c;
}

.long-central {
    overflow: visible;
}

.main-long {
    height: fit-content;
    border-radius: 0;
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
}

.main-long-content {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.long-controls {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.general {
    padding: 20px;
    height: 150px;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, .03);
    font-family: ProximaNova, sans-serif;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
}

.general a {
    color: #fa453c;
}

.mentor {
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, .03);
    display: flex;
}

.mentor .left-section {
    width: calc(100% / 3);
    height: 150px;
    position: relative;
    overflow: hidden;
}

.mentor .left-section .image {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mentor .left-section .image img {
    height: 200%;
}

.mentor .left-section .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background: #fa453c;
    color: #fff;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 * 2);
    font-family: "Montserrat", sans-serif;
}

.task-link {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-link a {
    color: #fa453c;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}